@media (prefers-color-scheme: dark) {
    body {
    background-color: #1e1e1e;
    color: #ffffff;
    text-shadow: 1px 1px darkgray;
    transition: 0.3s;
    }
}

.featured-card {
    background-color: darkgray;
    transition: 0.3s;
}