

body {
    background-color: #fff;
    color: #000;
}

body.dark {
    background-color: #000;
    color: #fff;
}

body,h1,h2,h3,h4,h5,h6,p {
    font-family: "Raleway", sans-serif;
}

body, html {
    height: 100%;
    line-height: 1.8;
}

section{
    padding:48px;
}

/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("asset/BTW1.jpg");
    min-height: 50%;
    color: aliceblue;
    text-shadow: 2px 2px black;
    height: fit-content;
}

.crew-tag {
    width: 100%;
    height: auto;
}

.logo{
    width: 25px;
    height: auto;
}

.nav-link {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color:black;
    font-weight: bold;
    text-shadow: 2px 2px white;

}

/* Media query for small and medium screens */
@media (max-width: 992px) {
    .nav-links {
        display: none; /* Hide the links on small and medium screens, but leave the button */
    }
}
